{% extends 'wedish_site/base.html' %}
{% load i18n %}

{% block content %}
<div class="row align-items-end">
    <!-- Appearence of Name and Surname or username  -->
    {% if request.user.first_name != '' and  request.user.last_name != ''%}
        <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>
    {% else %}
        <h2> {{ request.user.username }}</h2>
    {% endif %}
    <!-- Appearence of Name and Surname or username  -->
</div>

<div class="row align-items-start">
    <h5>Aktyvus staliukai:</h5>
    
</div>
<div>
    <ul class="list-group">
        {% for table in object_list  %}
            <a class="mt-1" href="{% url 'wedish_pub:bar_table' table.id %}"><li class="list-group-item list-group-item-action">{{table.public_identifier}}</li></a>
        {% endfor %}
        <div>
            <button class="btn btn-success mt-3">New Table</button>
        </div>
        

    </ul>
</div>


{% endblock content %}