{% extends 'wedish_site/base.html' %}
{% load i18n static %}

{% block content %}


{% if bills %}
<div class="parent-container d-flex">
    {% for bill in bills %}
        <div class="card mr-3" style="width: 18rem;">
            <h4 class="card-title pt-1 pl-2"><a href="{% url 'wedish_accounting:bill_detail' bill.id %}">{{ bill.customer }}</a></h4>
            <div class="card-body">
            <p class="card-text">{{ bill.order }}</p>
            <a href="{% url 'wedish_accounting:bill_summary' bill.id %}" class="btn btn-info">Export PDF</a>
            </div>
        </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">{% trans 'first' %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
        {% endif %}
        <span class="current"> {{page_obj.number}} {% trans 'of' %} {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next%}
            <a href="?page={{ page_obj.next_page_number }}">{% trans 'next' %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans 'last' %}</a>
        {% endif %}
    </span>
</div>
{% else %}
<p>{% trans "there are no bills" %}</p>
{% endif %}

{% endblock content %}