{% extends 'wedish_site/base.html' %}
{% load i18n static %}

{% block content %}


{% if invoices %}
<ul class="list-group">
    {% for invoice in invoices %}
        <li class="list-group-item">
            <h4><a href="{% url 'wedish_accounting:invoice_detail' invoice.id %}">{{ invoice.user }}</a></h4>
            <p>{{ invoice.table }} - {{ invoice.total_price }}EUR</p>
            <a href="{% url 'wedish_accounting:invoice_detail_pdf' invoice.id %}" class="btn btn-info">Export invoice PDF</a>
        </li>
    {% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">{% trans 'first' %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
        {% endif %}
        <span class="current"> {{page_obj.number}} {% trans 'of' %} {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next%}
            <a href="?page={{ page_obj.next_page_number }}">{% trans 'next' %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans 'last' %}</a>
        {% endif %}
    </span>
</div>
{% else %}
<p>{% trans "there are no bills" %}</p>
{% endif %}

{% endblock content %}